body {
    background: url(img/ground.png);
    background-repeat: no-repeat;
    width: 1055px;
}

.main-display {
    position: relative;
    margin-left: -45px;
}

.horse img {
    width: 195px;
    position: absolute;
    top: 14px;
}

.horse-2 img {
    width: 195px;
    position: absolute;
    top: 153px;
}

.horse-3 img {
    width: 195px;
    position: absolute;
    top: 303px;
}

.horse-4 img {
    width: 195px;
    position: absolute;
    top: 445px;
}

.horse-5 img {
    width: 195px;
    position: absolute;
    top: 600px;
}

button {
    bottom: 0px;
    position: absolute;
    bottom: 85px;
    left: 165px;
    width: 200px;
    height: 50px;
    background-color: cornflowerblue;
    border: 1px solid;
    text-align: center;
    font-size: 30px;
}